name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Format and Test
    steps:
      - uses: actions/checkout@v3

      - name: Setup Zig
        uses: mlugg/setup-zig@v2

      - name: Check formatting
        run: zig fmt --check .

      - name: Run tests
        run: zig build test
